.div {
    justify-content: center;
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 77px 60px;
  }
  @media (max-width: 991px) {
    .div {
      padding-left: 20px;
    }
  }
  .div-2 {
    background-color: #fff;
    display: flex;
    width: 100%;
    max-width: 1376px;
    padding-bottom: 80px;
    flex-direction: column;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }
  .div-3 {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    padding: 3px 0;
  }
  @media (max-width: 991px) {
    .div-3 {
      max-width: 100%;
    }
  }
  .div-4 {
    background-color: #e0f4ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 17px 57px;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      padding-left: 20px;
    }
  }
  .div-5 {
    justify-content: center;
    display: flex;
    width: 100%;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .div-6 {
    color: #2563eb;
    text-align: center;
    margin: auto 0;
    font: 700 30px/80% Rowdies, sans-serif;
  }
  .div-7 {
    justify-content: center;
    box-shadow: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.1),
      0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--white-100, #fff);
    display: flex;
    gap: 20px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    line-height: 24px;
  }
  @media (max-width: 991px) {
    .div-7 {
      max-width: 100%;
      flex-wrap: wrap;
      white-space: initial;
    }
  }
  .div-8 {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .div-8 {
      white-space: initial;
    }
  }
  .div-9 {
    display: flex;
    padding-top: 12px;
    flex-direction: column;
    color: #39a7ff;
  }
  @media (max-width: 991px) {
    .div-9 {
      white-space: initial;
    }
  }
  .div-10 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
    align-self: center;
  }
  .div-11 {
    border-color: rgba(57, 167, 255, 1);
    border-style: solid;
    border-width: 2px;
    background-color: #39a7ff;
    margin-top: 10px;
    height: 2px;
  }
  .div-12 {
    color: var(--black-60, rgba(0, 0, 0, 0.6));
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
    margin: auto 0;
  }
  .div-13 {
    color: var(--black-60, rgba(0, 0, 0, 0.6));
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
    margin: auto 0;
  }
  .div-14 {
    border-radius: 8px;
    box-shadow: 0px 0.1px 0.3px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #c6ccdb;
    display: flex;
    gap: 20px;
    font-size: 16px;
    color: var(--black-60, rgba(0, 0, 0, 0.6));
    font-weight: 400;
    letter-spacing: undefined;
    line-height: 150%;
    justify-content: space-between;
    padding: 12px 13px;
  }
  .div-15 {
    display: flex;
    gap: 16px;
  }
  .img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .div-16 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
    margin: auto 0;
  }
  .img-2 {
    aspect-ratio: 2.78;
    object-fit: auto;
    object-position: center;
    width: 100%;
    z-index: 10;
    margin: -6px 0 -20px;
  }
  @media (max-width: 991px) {
    .img-2 {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
  .div-17 {
    background-color: #20418a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 36px;
    padding: 44px 60px;
  }
  @media (max-width: 991px) {
    .div-17 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .div-18 {
    width: 992px;
    max-width: 100%;
    padding: 0 1px;
  }
  .div-19 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .div-19 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .column {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .column {
      width: 100%;
    }
  }
  .div-20 {
    background-color: rgba(224, 244, 255, 1);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: 19px 52px 5px;
  }
  @media (max-width: 991px) {
    .div-20 {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-21 {
    color: #568b92;
    font: 60px/40% Rowdies, sans-serif;
  }
  @media (max-width: 991px) {
    .div-21 {
      font-size: 40px;
    }
  }
  .div-22 {
    color: #000;
    align-self: stretch;
    margin-top: 18px;
    font: 30px/80% Ropa Sans, sans-serif;
  }
  .div-23 {
    font-feature-settings: "clig" off, "liga" off;
    border-radius: 4px;
    border-color: rgba(37, 99, 235, 1);
    border-style: solid;
    border-width: 1px;
    z-index: 10;
    margin-top: 27px;
    color: #2563eb;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    justify-content: center;
    padding: 6px 16px;
    font: 500 14px/24px Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .div-23 {
      white-space: initial;
    }
  }
  .div-24 {
    color: #fff;
    margin-top: -9px;
    font: 25px/96% Roboto, sans-serif;
  }
  .column-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-2 {
      width: 100%;
    }
  }
  .div-25 {
    background-color: #e0f4ff;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: 21px 44px;
  }
  @media (max-width: 991px) {
    .div-25 {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-26 {
    color: #568b92;
    font: 60px/40% Rowdies, sans-serif;
  }
  @media (max-width: 991px) {
    .div-26 {
      font-size: 40px;
    }
  }
  .div-27 {
    color: #000;
    align-self: stretch;
    margin-top: 18px;
    font: 30px/80% Ropa Sans, sans-serif;
  }
  .div-28 {
    font-feature-settings: "clig" off, "liga" off;
    border-radius: 4px;
    border-color: rgba(37, 99, 235, 1);
    border-style: solid;
    border-width: 1px;
    margin-top: 29px;
    color: #2563eb;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    justify-content: center;
    padding: 6px 16px;
    font: 500 14px/24px Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .div-28 {
      white-space: initial;
    }
  }
  .column-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 33%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .column-3 {
      width: 100%;
    }
  }
  .div-29 {
    background-color: rgba(224, 244, 255, 1);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: 26px 46px;
  }
  @media (max-width: 991px) {
    .div-29 {
      margin-top: 40px;
      padding: 0 20px;
    }
  }
  .div-30 {
    color: #568b92;
    align-self: center;
    font: 60px/40% Rowdies, sans-serif;
  }
  @media (max-width: 991px) {
    .div-30 {
      font-size: 40px;
    }
  }
  .div-31 {
    color: #000;
    margin-top: 16px;
    font: 30px/80% Ropa Sans, sans-serif;
  }
  .div-32 {
    font-feature-settings: "clig" off, "liga" off;
    border-radius: 4px;
    border-color: rgba(37, 99, 235, 1);
    border-style: solid;
    border-width: 1px;
    margin-top: 16px;
    color: #2563eb;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    justify-content: center;
    padding: 6px 16px;
    font: 500 14px/24px Roboto, sans-serif;
  }
  .divadd {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: center;
    padding: 30px 13px;
  }
  @media (max-width: 991px) {
    .div {
      padding-right: 20px;
    }
  }
  .divadd-2 {
    align-items: start;
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    padding: 0 0 35px 17px;
  }
  @media (max-width: 991px) {
    .div-2 {
      max-width: 100%;
    }
  }
  .divadd-3 {
    justify-content: center;
    align-items: start;
    background-color: #20418a;
    align-self: stretch;
    color: #fff;
    padding: 21px 17px;
    font: 700 24px/133% Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .divadd-3 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .divadd-4 {
    border-radius: 8px;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1),
      0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px #000,
      0px 0px 0px 0px #000;
    background-color: #fff;
    display: flex;
    margin-top: 16px;
    flex-direction: column;
    color: #000;
    font-weight: 400;
    line-height: 150%;
    padding: 35px 26px;
  }
  @media (max-width: 991px) {
    .divadd-4 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .divadd-5 {
    font: 700 20px/140% Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .divadd-5 {
      max-width: 100%;
    }
  }
  .divadd-6 {
    color: #374151;
    font-family: Roboto, sans-serif;
    margin-top: 29px;
  }
  @media (max-width: 991px) {
    .divadd-6 {
      max-width: 100%;
    }
  }
  .divadd-7 {
    font-family: Roboto, sans-serif;
    align-items: start;
    border-radius: 4px;
    border-color: rgba(209, 213, 219, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    margin-top: 7px;
    justify-content: center;
    padding: 14px 18px;
  }
  @media (max-width: 991px) {
    .divadd-7 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .divadd-8 {
    color: #374151;
    font-family: Roboto, sans-serif;
    margin-top: 21px;
  }
  @media (max-width: 991px) {
    .divadd-8 {
      max-width: 100%;
    }
  }
  .divadd-9 {
    font-family: Roboto, sans-serif;
    align-items: start;
    border-radius: 4px;
    border-color: rgba(209, 213, 219, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    margin-top: 4px;
    white-space: nowrap;
    justify-content: center;
    padding: 15px 20px;
  }
  @media (max-width: 991px) {
    .divadd-9 {
      max-width: 100%;
      white-space: initial;
    }
  }
  .divadd-10 {
    color: #374151;
    font-family: Roboto, sans-serif;
    margin-top: 21px;
  }
  @media (max-width: 991px) {
    .divadd-10 {
      max-width: 100%;
    }
  }
  .divadd-11 {
    font-family: Roboto, sans-serif;
    align-items: start;
    border-radius: 4px;
    border-color: rgba(209, 213, 219, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    margin-top: 7px;
    padding: 11px 18px 19px;
  }
  @media (max-width: 991px) {
    .divadd-11 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .divadd-12 {
    color: #374151;
    font-family: Roboto, sans-serif;
    margin-top: 21px;
  }
  @media (max-width: 991px) {
    .divadd-12 {
      max-width: 100%;
    }
  }
  .divadd-13 {
    font-family: Roboto, sans-serif;
    align-items: start;
    border-radius: 4px;
    border-color: rgba(209, 213, 219, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    margin-top: 7px;
    white-space: nowrap;
    justify-content: center;
    padding: 14px 18px;
  }
  @media (max-width: 991px) {
    .divadd-13 {
      max-width: 100%;
      padding-right: 20px;
      white-space: initial;
    }
  }
  .divadd-14 {
    font-family: Roboto, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: #2563eb;
    margin-top: 15px;
    width: 206px;
    max-width: 100%;
    color: #fff;
    font-weight: 800;
    text-align: center;
    padding: 14px 60px;
  }
  @media (max-width: 991px) {
    .divadd-14 {
      padding: 0 20px;
    }
  }
  .divadd-15 {
    border-radius: 8px;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.1),
      0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px #000,
      0px 0px 0px 0px #000;
    background-color: #fff;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    padding: 30px 0 18px;
  }
  @media (max-width: 991px) {
    .divadd-15 {
      max-width: 100%;
    }
  }
  .divadd-16 {
    display: flex;
    flex-direction: column;
    color: #000;
    font-weight: 700;
    padding: 0 26px;
  }
  @media (max-width: 991px) {
    .divadd-16 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .divadd-17 {
    font: 20px/140% Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .divadd-17 {
      max-width: 100%;
    }
  }
  .divadd-18 {
    justify-content: center;
    background-color: #fff;
    display: flex;
    margin-top: 19px;
    flex-direction: column;
    text-align: center;
    line-height: 150%;
  }
  @media (max-width: 991px) {
    .divadd-18 {
      max-width: 100%;
    }
  }
  .divadd-19 {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 13px 60px;
  }
  @media (max-width: 991px) {
    .divadd-19 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .divadd-20 {
    display: flex;
    width: 100%;
    max-width: 1023px;
    gap: 20px;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .divadd-20 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .divadd-21 {
    font-family: Roboto, sans-serif;
  }
  .divadd-22 {
    font-family: Roboto, sans-serif;
  }
  .divadd-23 {
    font-family: Roboto, sans-serif;
  }
  .divadd-24 {
    font-family: Roboto, sans-serif;
  }
  .divadd-25 {
    display: flex;
    margin-top: 12px;
    padding-top: 16px;
    gap: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 24px;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .divadd-25 {
      flex-wrap: wrap;
    }
  }
  .divadd-26 {
    font: 700 20px Roboto, sans-serif;
  }
  .divadd-27 {
    font-family: Roboto, sans-serif;
  }
  .divadd-28 {
    font-family: Roboto, sans-serif;
  }
  .divadd-29 {
    font-family: Roboto, sans-serif;
  }
  .divadd-30 {
    font-family: Roboto, sans-serif;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: #2563eb;
    align-self: end;
    color: #fff;
    font-weight: 800;
    text-align: center;
    line-height: 150%;
    margin: 73px 26px 0 0;
    padding: 13px 45px;
  }
  @media (max-width: 991px) {
    .divadd-30 {
      margin: 40px 10px 0 0;
      padding: 0 20px;
    }
  }
  .divlow {
    background-color: #0f378d;
    display: flex;
    flex-direction: column;
  }
  .divlow-2 {
    background-color: #e0f4ff;
    width: 100%;
    padding: 21px 27px 43px 80px;
  }
  @media (max-width: 991px) {
    .divlow-2 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .divlow-3 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .divlow-3 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .columnlow {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .columnlow {
      width: 100%;
    }
  }
  .divlow-4 {
    color: #2563eb;
    text-align: center;
    margin-top: 16px;
    font: 700 30px/80% Rowdies, sans-serif;
  }
  @media (max-width: 991px) {
    .divlow-4 {
      margin-top: 40px;
    }
  }
  .columnlow-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 45%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnlow-2 {
      width: 100%;
    }
  }
  .divlow-5 {
    justify-content: center;
    align-items: start;
    box-shadow: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.1),
      0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--white-100, #fff);
    display: flex;
    flex-grow: 1;
    gap: 20px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    line-height: 24px;
    width: 100%;
    padding: 12px 47px 6px;
  }
  @media (max-width: 991px) {
    .divlow-5 {
      max-width: 100%;
      margin-top: 40px;
      flex-wrap: wrap;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .divlow-6 {
    color: #374151;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
  }
  .divlow-7 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    color: #39a7ff;
  }
  @media (max-width: 991px) {
    .divlow-7 {
      white-space: initial;
    }
  }
  .divlow-8 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
    align-self: center;
  }
  .divlow-9 {
    border-color: rgba(57, 167, 255, 1);
    border-style: solid;
    border-width: 2px;
    background-color: #39a7ff;
    margin-top: 11px;
    height: 2px;
  }
  .divlow-10 {
    color: var(--black-60, rgba(0, 0, 0, 0.6));
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
  }
  .columnlow-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 35%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnlow-3 {
      width: 100%;
    }
  }
  .divlow-11 {
    border-radius: 8px;
    box-shadow: 0px 0.1px 0.3px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #c6ccdb;
    display: flex;
    width: 100%;
    flex-grow: 1;
    gap: 20px;
    font-size: 16px;
    color: var(--black-60, rgba(0, 0, 0, 0.6));
    font-weight: 400;
    letter-spacing: undefined;
    line-height: 150%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 16px;
  }
  @media (max-width: 991px) {
    .divlow-11 {
      margin-top: 40px;
    }
  }
  .divlow-12 {
    display: flex;
    gap: 16px;
  }
  .imglow {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .divlow-13 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
    margin: auto 0;
  }
  .divlow-14 {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    overflow: hidden;
    position: relative;
    min-height: 905px;
    width: 100%;
    padding: 13px 11px 48px;
  }
  @media (max-width: 991px) {
    .divlow-14 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .imglow-2 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .divlow-15 {
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.1),
      0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px #000,
      0px 0px 0px 0px #000;
    background-color: #d1d5db;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 991px) {
    .divlow-15 {
      max-width: 100%;
    }
  }
  .divlow-16 {
    border-radius: 8px;
    box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.1),
      0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px #000,
      0px 0px 0px 0px #000;
    background-color: #d1d5db;
    display: flex;
    flex-direction: column;
    padding: 18px 80px 80px 0;
  }
  @media (max-width: 991px) {
    .divlow-16 {
      max-width: 100%;
      padding-right: 20px;
    }
  }
  .divlow-17 {
    display: flex;
    margin-left: 27px;
    width: 919px;
    max-width: 100%;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .divlow-17 {
      flex-wrap: wrap;
    }
  }
  .divlow-18 {
    color: #000;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 700 20px/140% Roboto, sans-serif;
  }
  .divlow-19 {
    display: flex;
    gap: 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    line-height: 150%;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .divlow-19 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .divlow-20 {
    font-family: Roboto, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: #2563eb;
    padding: 14px 60px;
  }
  @media (max-width: 991px) {
    .divlow-20 {
      padding: 0 20px;
    }
  }
  .divlow-21 {
    font-family: Roboto, sans-serif;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: #2563eb;
    padding: 15px 55px;
  }
  @media (max-width: 991px) {
    .divlow-21 {
      padding: 0 20px;
    }
  }
  .divlow-22 {
    align-items: start;
    display: flex;
    padding-bottom: 80px;
    gap: 20px;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
    justify-content: space-between;
    margin: 25px 0 185px;
  }
  @media (max-width: 991px) {
    .divlow-22 {
      flex-wrap: wrap;
      margin-bottom: 40px;
    }
  }
  .divlow-23 {
    background-color: #d9d9d9;
    width: 10px;
    height: 100px;
  }
  .imglow-3 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 286px;
    max-width: 100%;
  }
  .divlow-24 {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .imglow-4 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .divlow-25 {
    font-family: Roboto, sans-serif;
  }
  .divlow-26 {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .imglow-5 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .divlow-27 {
    font-family: Roboto, sans-serif;
  }
  .divlow-28 {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .imglow-6 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .divlow-29 {
    font-family: Roboto, sans-serif;
  }
  .divnot {
    background-color: #0f378d;
    display: flex;
    flex-direction: column;
  }
  .divnot-2 {
    background-color: #e0f4ff;
    width: 100%;
    padding: 21px 27px 43px 80px;
  }
  @media (max-width: 991px) {
    .divnot-2 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .divnot-3 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .divnot-3 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .columnnot {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .columnnot {
      width: 100%;
    }
  }
  .divnot-4 {
    color: #2563eb;
    text-align: center;
    margin-top: 16px;
    font: 700 30px/80% Rowdies, sans-serif;
  }
  @media (max-width: 991px) {
    .divnot-4 {
      margin-top: 40px;
    }
  }
  .columnnot-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 45%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnnot-2 {
      width: 100%;
    }
  }
  .divnot-5 {
    justify-content: center;
    align-items: start;
    box-shadow: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.1),
      0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--white-100, #fff);
    display: flex;
    flex-grow: 1;
    gap: 20px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    line-height: 24px;
    width: 100%;
    padding: 12px 47px 6px;
  }
  @media (max-width: 991px) {
    .divnot-5 {
      max-width: 100%;
      margin-top: 40px;
      flex-wrap: wrap;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .divnot-6 {
    color: #374151;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
  }
  .divnot-7 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    color: #39a7ff;
  }
  @media (max-width: 991px) {
    .divnot-7 {
      white-space: initial;
    }
  }
  .divnot-8 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
    align-self: center;
  }
  .divnot-9 {
    border-color: rgba(57, 167, 255, 1);
    border-style: solid;
    border-width: 2px;
    background-color: #39a7ff;
    margin-top: 11px;
    height: 2px;
  }
  .divnot-10 {
    color: var(--black-60, rgba(0, 0, 0, 0.6));
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
  }
  .columnnot-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 35%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnnot-3 {
      width: 100%;
    }
  }
  .divnot-11 {
    border-radius: 8px;
    box-shadow: 0px 0.1px 0.3px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #c6ccdb;
    display: flex;
    width: 100%;
    flex-grow: 1;
    gap: 20px;
    font-size: 16px;
    color: var(--black-60, rgba(0, 0, 0, 0.6));
    font-weight: 400;
    letter-spacing: undefined;
    line-height: 150%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 16px;
  }
  @media (max-width: 991px) {
    .divnot-11 {
      margin-top: 40px;
    }
  }
  .divnot-12 {
    display: flex;
    gap: 16px;
  }
  .imgnot {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .divnot-13 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
    margin: auto 0;
  }
  .divnot-14 {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    overflow: hidden;
    position: relative;
    min-height: 905px;
    width: 100%;
    padding: 24px 20px 37px;
  }
  @media (max-width: 991px) {
    .divnot-14 {
      max-width: 100%;
    }
  }
  .imgnot-2 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .divnot-15 {
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.1),
      0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px #000,
      0px 0px 0px 0px #000;
    background-color: #d1d5db;
    display: flex;
    flex-direction: column;
    padding: 12px 66px 65px 27px;
  }
  @media (max-width: 991px) {
    .divnot-15 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .divnot-16 {
    display: flex;
    width: 100%;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .divnot-16 {
      max-width: 100%;
      flex-wrap: wrap;
      padding-right: 20px;
    }
  }
  .divnot-17 {
    color: #000;
    align-self: start;
    margin-top: 18px;
    font: 700 20px/140% Roboto, sans-serif;
  }
  .divnot-18 {
    display: flex;
    gap: 20px;
    font-size: 16px;
    color: #fff;
    font-weight: 800;
    text-align: center;
    line-height: 150%;
    justify-content: space-between;
  }
  @media (max-width: 991px) {
    .divnot-18 {
      max-width: 100%;
      flex-wrap: wrap;
    }
  }
  .divnot-19 {
    font-family: Roboto, sans-serif;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: #2563eb;
    padding: 14px 60px;
  }
  @media (max-width: 991px) {
    .divnot-19 {
      padding: 0 20px;
    }
  }
  .divnot-20 {
    font-family: Roboto, sans-serif;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: #2563eb;
    padding: 15px 55px;
  }
  @media (max-width: 991px) {
    .divnot-20 {
      padding: 0 20px;
    }
  }
  .divnot-21 {
    margin: 31px 0 0 39px;
  }
  @media (max-width: 991px) {
    .divnot-21 {
      max-width: 100%;
    }
  }
  .divnot-22 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .divnot-22 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .columnnot-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .columnnot-4 {
      width: 100%;
    }
  }
  .divnot-23 {
    justify-content: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
  }
  @media (max-width: 991px) {
    .divnot-23 {
      margin-top: 40px;
    }
  }
  .imgnot-3 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .divnot-24 {
    font-family: Roboto, sans-serif;
  }
  .columnnot-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnnot-5 {
      width: 100%;
    }
  }
  .divnot-25 {
    justify-content: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
  }
  @media (max-width: 991px) {
    .divnot-25 {
      margin-top: 40px;
    }
  }
  .imgnot-4 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .divnot-26 {
    font-family: Roboto, sans-serif;
  }
  .columnnot-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnnot-6 {
      width: 100%;
    }
  }
  .divnot-27 {
    justify-content: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
  }
  @media (max-width: 991px) {
    .divnot-27 {
      margin-top: 40px;
    }
  }
  .imgnot-5 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .divnot-28 {
    font-family: Roboto, sans-serif;
  }
  .columnnot-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnnot-7 {
      width: 100%;
    }
  }
  .divnot-29 {
    justify-content: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
  }
  @media (max-width: 991px) {
    .divnot-29 {
      margin-top: 40px;
    }
  }
  .imgnot-6 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .divnot-30 {
    font-family: Roboto, sans-serif;
  }
  .divnot-31 {
    width: 613px;
    max-width: 100%;
    margin: 20px 0 0 39px;
  }
  .divnot-32 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .divnot-32 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .columnnot-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .columnnot-8 {
      width: 100%;
    }
  }
  .divnot-33 {
    justify-content: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
  }
  @media (max-width: 991px) {
    .divnot-33 {
      margin-top: 40px;
    }
  }
  .imgnot-7 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .divnot-34 {
    font-family: Roboto, sans-serif;
  }
  .columnnot-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 50%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnnot-9 {
      width: 100%;
    }
  }
  .divnot-35 {
    justify-content: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
  }
  @media (max-width: 991px) {
    .divnot-35 {
      margin-top: 40px;
    }
  }
  .imgnot-8 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  .divnot-36 {
    font-family: Roboto, sans-serif;
  }
  .divlist {
    background-color: #0f378d;
    display: flex;
    flex-direction: column;
  }
  .divlist-2 {
    background-color: #e0f4ff;
    width: 100%;
    padding: 21px 27px 43px 80px;
  }
  @media (max-width: 991px) {
    .divlist-2 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .divlist-3 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .divlist-3 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .columnlist {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .columnlist {
      width: 100%;
    }
  }
  .divlist-4 {
    color: #2563eb;
    text-align: center;
    margin-top: 16px;
    font: 700 30px/80% Rowdies, sans-serif;
  }
  @media (max-width: 991px) {
    .div-4 {
      margin-top: 40px;
    }
  }
  .columnlist-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 45%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnlist-2 {
      width: 100%;
    }
  }
  .divlist-5 {
    justify-content: center;
    align-items: start;
    box-shadow: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.1),
      0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--white-100, #fff);
    display: flex;
    flex-grow: 1;
    gap: 20px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    line-height: 24px;
    width: 100%;
    padding: 12px 47px 6px;
  }
  @media (max-width: 991px) {
    .divlist-5 {
      max-width: 100%;
      margin-top: 40px;
      flex-wrap: wrap;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .divlist-6 {
    color: #374151;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
  }
  .divlist-7 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    color: #39a7ff;
  }
  @media (max-width: 991px) {
    .divlist-7 {
      white-space: initial;
    }
  }
  .divlist-8 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
    align-self: center;
  }
  .divlist-9 {
    border-color: rgba(57, 167, 255, 1);
    border-style: solid;
    border-width: 2px;
    background-color: #39a7ff;
    margin-top: 11px;
    height: 2px;
  }
  .divlist-10 {
    color: var(--black-60, rgba(0, 0, 0, 0.6));
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
  }
  .columnlist-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 35%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnlist-3 {
      width: 100%;
    }
  }
  .divlist-11 {
    border-radius: 8px;
    box-shadow: 0px 0.1px 0.3px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #c6ccdb;
    display: flex;
    width: 100%;
    flex-grow: 1;
    gap: 20px;
    font-size: 16px;
    color: var(--black-60, rgba(0, 0, 0, 0.6));
    font-weight: 400;
    letter-spacing: undefined;
    line-height: 150%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 16px;
  }
  @media (max-width: 991px) {
    .divlist-11 {
      margin-top: 40px;
    }
  }
  .divlist-12 {
    display: flex;
    gap: 16px;
  }
  .imglist {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .divlist-13 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
    margin: auto 0;
  }
  .divlist-14 {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    overflow: hidden;
    position: relative;
    min-height: 881px;
    width: 1420px;
    max-width: 100%;
    padding-bottom: 37px;
    margin: 24px 0 0 20px;
  }
  @media (max-width: 991px) {
    .divlist-14 {
      padding-right: 20px;
    }
  }
  .imglist-2 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .divlist-15 {
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.1),
      0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px #000,
      0px 0px 0px 0px #000;
    background-color: #d1d5db;
    padding: 30px 62px 80px 27px;
  }
  @media (max-width: 991px) {
    .divlist-15 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .divlist-16 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .divlist-16 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .columnlist-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 31%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .columnlist-4 {
      width: 100%;
    }
  }
  .divlist-17 {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #000;
    font-weight: 700;
  }
  @media (max-width: 991px) {
    .divlist-17 {
      margin-top: 40px;
    }
  }
  .divlist-18 {
    font-family: Roboto, sans-serif;
    line-height: 140%;
  }
  .divlist-19 {
    text-align: center;
    align-self: center;
    margin-top: 32px;
    font: 800 18px/133% Roboto, sans-serif;
  }
  .divlist-20 {
    background-color: #e5e7eb;
    margin-top: 15px;
    height: 1px;
  }
  .divlist-21 {
    text-align: center;
    font-family: Roboto, sans-serif;
    line-height: 24px;
    align-self: center;
    margin-top: 12px;
    width: 397px;
  }
  .columnlist-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 26%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnlist-5 {
      width: 100%;
    }
  }
  .divlist-22 {
    position: relative;
    display: flex;
    margin-top: 51px;
    flex-direction: column;
    align-items: center;
    color: #000;
    white-space: nowrap;
    text-align: center;
  }
  @media (max-width: 991px) {
    .divlist-22 {
      margin-top: 40px;
      white-space: initial;
    }
  }
  .divlist-23 {
    font: 800 18px/133% Roboto, sans-serif;
  }
  .divlist-24 {
    background-color: #e5e7eb;
    align-self: stretch;
    margin-top: 11px;
    height: 1px;
  }
  .divlist-25 {
    margin-top: 12px;
    font: 400 16px/24px Roboto, sans-serif;
  }
  .columnlist-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 19%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnlist-6 {
      width: 100%;
    }
  }
  .divlist-26 {
    position: relative;
    display: flex;
    margin-top: 51px;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-align: center;
  }
  @media (max-width: 991px) {
    .divlist-26 {
      margin-top: 40px;
    }
  }
  .divlist-27 {
    font: 800 18px/133% Roboto, sans-serif;
  }
  .divlist-28 {
    background-color: #e5e7eb;
    align-self: stretch;
    margin-top: 15px;
    height: 1px;
  }
  .divlist-29 {
    margin-top: 7px;
    font: 400 16px/24px Roboto, sans-serif;
  }
  .columnlist-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 24%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnlist-7 {
      width: 100%;
    }
  }
  .divlist-30 {
    position: relative;
    display: flex;
    margin-top: 51px;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-align: center;
  }
  @media (max-width: 991px) {
    .divlist-30 {
      margin-top: 40px;
    }
  }
  .divlist-31 {
    font: 800 18px/133% Roboto, sans-serif;
  }
  .divlist-32 {
    background-color: #e5e7eb;
    align-self: stretch;
    margin-top: 15px;
    height: 1px;
  }
  .divlist-33 {
    margin-top: 4px;
    font: 400 16px/24px Roboto, sans-serif;
  }
  .divissue {
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  .divissue-2 {
    background-color: #e0f4ff;
    width: 100%;
    padding: 21px 80px 43px;
  }
  @media (max-width: 991px) {
    .divissue-2 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .divissue-3 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .divissue-3 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .columnissue {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 20%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .columnissue {
      width: 100%;
    }
  }
  .divissue-4 {
    color: #2563eb;
    text-align: center;
    margin-top: 16px;
    font: 700 30px/80% Rowdies, sans-serif;
  }
  @media (max-width: 991px) {
    .divissue-4 {
      margin-top: 40px;
    }
  }
  .columnissue-2 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 45%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnissue-2 {
      width: 100%;
    }
  }
  .divissue-5 {
    justify-content: center;
    box-shadow: 0px 0.5px 1px 0px rgba(0, 0, 0, 0.1),
      0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--white-100, #fff);
    display: flex;
    flex-grow: 1;
    gap: 20px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.14px;
    line-height: 24px;
    width: 100%;
    padding: 12px 47px 19px;
  }
  @media (max-width: 991px) {
    .divissue-5 {
      max-width: 100%;
      margin-top: 40px;
      flex-wrap: wrap;
      white-space: initial;
      padding: 0 20px;
    }
  }
  .divissue-6 {
    color: #374151;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
  }
  .divissue-7 {
    color: #39a7ff;
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
  }
  .divissue-8 {
    color: var(--black-60, rgba(0, 0, 0, 0.6));
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
  }
  .columnissue-3 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 35%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnissue-3 {
      width: 100%;
    }
  }
  .divissue-9 {
    border-radius: 8px;
    box-shadow: 0px 0.1px 0.3px 0px rgba(0, 0, 0, 0.1),
      0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: #c6ccdb;
    display: flex;
    width: 100%;
    flex-grow: 1;
    gap: 20px;
    font-size: 16px;
    color: var(--black-60, rgba(0, 0, 0, 0.6));
    font-weight: 400;
    letter-spacing: undefined;
    line-height: 150%;
    justify-content: space-between;
    margin: 0 auto;
    padding: 16px;
  }
  @media (max-width: 991px) {
    .divissue-9 {
      margin-top: 40px;
    }
  }
  .divissue-10 {
    display: flex;
    gap: 16px;
  }
  .imgissue {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 24px;
  }
  .divissue-11 {
    font-feature-settings: "clig" off, "liga" off;
    font-family: Roboto, sans-serif;
    margin: auto 0;
  }
  .divissue-12 {
    border-radius: 8px;
    box-shadow: 0px 2px 4px 5px rgba(0, 0, 0, 0.1),
      0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 0px 0px 0px #000,
      0px 0px 0px 0px #000;
    background-color: #1a4698;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 27px 31px 56px;
  }
  @media (max-width: 991px) {
    .divissue-12 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .divissue-13 {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    overflow: hidden;
    position: relative;
    min-height: 822px;
    width: 100%;
    max-width: 1382px;
    padding: 80px;
  }
  @media (max-width: 991px) {
    .divissue-13 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .imgissue-2 {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  .divissue-14 {
    position: relative;
    margin-left: 45px;
    width: 1004px;
    max-width: 100%;
  }
  .divissue-15 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .divissue-15 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .columnissue-4 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 30%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .columnissue-4 {
      width: 100%;
    }
  }
  .imgissue-3 {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 100%;
  }
  @media (max-width: 991px) {
    .imgissue-3 {
      margin-top: 40px;
    }
  }
  .columnissue-5 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 70%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnissue-5 {
      width: 100%;
    }
  }
  .divissue-16 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: #fff;
    font-weight: 800;
    margin: auto 0;
  }
  @media (max-width: 991px) {
    .divissue-16 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .divissue-17 {
    font: 46px/52% Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .divissue-17 {
      max-width: 100%;
      font-size: 40px;
    }
  }
  .divissue-18 {
    margin-top: 32px;
    font: 18px/24px Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .divissue-18 {
      max-width: 100%;
    }
  }
  .divissue-19 {
    position: relative;
    background-color: rgba(224, 244, 255, 0.5);
    margin: 26px 0 0 23px;
    padding: 59px 61px;
  }
  @media (max-width: 991px) {
    .divissue-19 {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  .divissue-20 {
    gap: 20px;
    display: flex;
  }
  @media (max-width: 991px) {
    .divissue-20 {
      flex-direction: column;
      align-items: stretch;
      gap: 0px;
    }
  }
  .columnissue-6 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 0px;
  }
  @media (max-width: 991px) {
    .columnissue-6 {
      width: 100%;
    }
  }
  .divissue-21 {
    position: relative;
    display: flex;
    margin-top: 4px;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 800;
  }
  @media (max-width: 991px) {
    .divissue-21 {
      margin-top: 40px;
    }
  }
  .divissue-22 {
    align-self: stretch;
    font: 24px/100% Roboto, sans-serif;
  }
  .imgissue-4 {
    aspect-ratio: 25;
    object-fit: auto;
    object-position: center;
    width: 204px;
    stroke-width: 6px;
    stroke: #fff;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 6px;
    margin-top: 21px;
  }
  .divissue-23 {
    margin-top: 27px;
    font: 20px/120% Roboto, sans-serif;
  }
  .columnissue-7 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnissue-7 {
      width: 100%;
    }
  }
  .divissue-24 {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 800;
  }
  @media (max-width: 991px) {
    .divissue-24 {
      margin-top: 40px;
    }
  }
  .divissue-25 {
    align-self: stretch;
    font: 24px/100% Roboto, sans-serif;
  }
  .imgissue-5 {
    aspect-ratio: 25;
    object-fit: auto;
    object-position: center;
    width: 204px;
    stroke-width: 6px;
    stroke: #fff;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 6px;
    margin-top: 23px;
  }
  .divissue-26 {
    margin-top: 28px;
    font: 20px/120% Roboto, sans-serif;
  }
  .columnissue-8 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnissue-8 {
      width: 100%;
    }
  }
  .divissue-27 {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 800;
  }
  @media (max-width: 991px) {
    .divissue-27 {
      margin-top: 40px;
    }
  }
  .divissue-28 {
    font: 24px/24px Roboto, sans-serif;
  }
  .imgissue-6 {
    aspect-ratio: 25;
    object-fit: auto;
    object-position: center;
    width: 204px;
    stroke-width: 6px;
    stroke: #fff;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 6px;
    margin-top: 26px;
  }
  .divissue-29 {
    margin-top: 27px;
    font: 20px/120% Roboto, sans-serif;
  }
  .columnissue-9 {
    display: flex;
    flex-direction: column;
    line-height: normal;
    width: 25%;
    margin-left: 20px;
  }
  @media (max-width: 991px) {
    .columnissue-9 {
      width: 100%;
    }
  }
  .divissue-30 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 800;
  }
  @media (max-width: 991px) {
    .divissue-30 {
      margin-top: 40px;
    }
  }
  .divissue-31 {
    font: 24px/100% Roboto, sans-serif;
  }
  .imgissue-7 {
    aspect-ratio: 25;
    object-fit: auto;
    object-position: center;
    width: 204px;
    stroke-width: 6px;
    stroke: #fff;
    border-color: rgba(255, 255, 255, 1);
    border-style: solid;
    border-width: 6px;
    margin-top: 24px;
  }
  .divissue-32 {
    margin-top: 28px;
    font: 20px/120% Roboto, sans-serif;
  }
  .divissue-33 {
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    background-color: #e0f4ff;
    align-self: center;
    width: 206px;
    max-width: 100%;
    color: #1a4698;
    white-space: nowrap;
    text-align: center;
    margin: 69px 0 4px;
    padding: 15px 60px;
    font: 800 16px/150% Roboto, sans-serif;
  }
  @media (max-width: 991px) {
    .divissue-33 {
      margin-top: 40px;
      white-space: initial;
      padding: 0 20px;
    }
  }